<navigation></navigation>

<div class="container">
	<page-header content="vm.pageHeader"></page-header>
		<div class="row">
			<div class="col-xs-12 col-md-9">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<p class="rating" rating-stars rating="vm.data.location.rating"></p>
						<p>{{ vm.data.location.address }}</p>
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h2 class="panel-title">Opening hours</h2>
							</div>
							<div class="panel-body">
								<!-- Opening times here -->
								<p ng-repeat="time in vm.data.location.openingTime" ng-switch="time.closed">
									{{ time.days }} :
									<span class="opening-time" ng-switch-when="true">closed</span>
									<span class="opening-time" ng-switch-default>{{ time.opening + " - " + time.closing }}</span>
								</p>
							</div>
						</div>
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h2 class="panel-title">Facilities</h2>
							</div>
							<div class="panel-body">
								<span class="label label-warning label-facility" ng-repeat="facility in vm.data.location.facilities">
									<span class="glyphicon glyphicon-ok"></span>
									{{ facility }}
								</span>
								&nbsp;
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 location-map">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h2 class="panel-title">Location map</h2>
							</div>
							<div class="panel-body">
								<!-- img or iframe here -->
								<div id="map" style="height: 300px"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="panel panel-primary review-panel">
							<div class="panel-heading">
								<a href="#" ng-show="vm.isLoggedIn" data-toggle="modal" data-target="#myModal" class="btn btn-default pull-right">Add review</a>
								<a href="/login?page={{ vm.currentPath }}" ng-hide="vm.isLoggedIn" class="btn btn-default pull-right">Login to add review</a>
								<h2 class="panel-title">Customer reviews</h2>
							</div>
							<div class="panel-body review-container">
								<div class="review" ng-repeat="review in vm.data.location.reviews | orderBy: 'createdOn': true">
									<div class="row">
										<div class="well well-sm review-header">
											<span class="rating" rating-stars rating="review.rating"></span>
											<span class="reviewAuthor">{{ review.author }}</span>
											<small class="reviewTimestamp">{{ review.createdOn | date : 'd MMMM yyyy' }}</small>
										</div>
										<div class="col-xs-12">
											<p ng-bind-html="review.reviewText"></p>	<!-- | addHtmlLineBreaks -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-3">
				<p class="lead">{{ vm.data.location.name }} is on Loc8r because it has accessible wifi and space to sit down with your laptop and get some work done.</p>
				<p>If you've been and you like it - or if you don't - please leave a review to help other people just like you.</p>
			</div>
		</div>
		<!-- Add review Modal -->
		<div class="modal fade" id="myModal" role="dialog">
		    <div class="modal-dialog">
			    
				<!-- Modal content-->
				<div class="modal-content">
					<form id="addReview" name="addReview" role="form" ng-submit="vm.onSubmit()" class="form-horizontal">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
	         				 <h4 class="modal-title">Add review for {{vm.data.location.name}}</h4>
						</div>

						<div class="modal-body">
							<div role="alert" ng-show="vm.formError" class="alert alert-danger">
								{{ vm.formError }}
							</div>
							<!-- <div class="form-group">
								<label for="name" class="col-xs-2 col-sm-2 control-label">Name</label>
								<div class="col-xs-10 col-sm-10">
									<input type="text" name="name" ng-model="vm.formData.name" class="form-control" id="name" required>
								</div>
							</div> -->
							<div class="form-group">
								<label for="rating" class="col-xs-10 col-sm-2 control-label">Rating</label>
								<div class="col-xs-12 col-sm-2">
									<select name="rating" id="rating" class="form-control input-sm" ng-model="vm.formData.rating">
										<option value="5" selected>5</option>
										<option value="4">4</option>
										<option value="3">3</option>
										<option value="2">2</option>
										<option value="1">1</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="review" class="col-sm-2 control-label">Review</label>
								<div class="col-sm-10">
									<textarea name="review" id="review" rows="5" class="form-control" ng-model="vm.formData.reviewText" required></textarea>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-default" data-dismiss="modal">Cancel</button>
							<button type="submit" class="btn btn-primary" data-dismiss="">Submit review</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	<footer-generic></footer-generic>
</div>