doctype html
html(ng-app='loc8rApp')
 head
 meta(charset="utf-8")
 title= title
 link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
 link(rel="stylesheet" href="/stylesheets/font-awesome.min.css")
 link(rel="stylesheet" href="/style/layout.css")
body
 include ./partials/pageHeader

 #layout-content.container
  block content

 include ./partials/pageFooter
 
 script(src='/angular/angular.min.js')
 script(src='/angular/loc8rApp.js')
 script(src="/javascripts/jQuery.min.js")
 script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
 script(src='/javascripts/validation.js')
