doctype html
html(ng-app='loc8rApp')
 head
 meta(charset="utf-8")
 title= title
 link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
 link(rel="stylesheet" href="/stylesheets/font-awesome.min.css")
 link(rel="stylesheet" href="/style/layout.css")
body
 .navbar.navbar-default.navbar-fixed-top
  .container-fluid
   .navbar-header
     button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
      span.icon-bar
      span.icon-bar
      span.icon-bar
     a.navbar-brand(href="/#/") Home
    #navbar-main.navbar-collapse.collapse
      ul.nav.navbar-nav
       li
        a(href='/about/') About
 //- include ./partials/pageHeader

 #layout-content
  .container
   div(ng-view)
    block content

 include ./partials/pageFooter
 
 script(src='/angular/angular.min.js')
 script(src='/lib/angular-route.min.js')
 script(src='/angular/loc8r.min.js')
 //- script(src='/app.js')
  script(src='/home/home.controller.js')
  script(src='/common/services/loc8rData.service.js')
  script(src='/common/filters/formatDistance.filter.js')
  script(src='/common/services/geolocation.service.js')
  script(src='/common/directives/ratingStars/ratingStars.directive.js')
 script(src="/javascripts/jQuery.min.js")
 script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
 script(src='/javascripts/validation.js')