extends layout
include _includes/shareHTMLfunctions

block content
 .row
  .col-xs-12.col-md-9
   .row
    .col-xs-12.col-sm-6
     p.rating
      +outputRating(locationInfo.rating)
     p= locationInfo.address
     .panel.panel-primary
      .panel-heading
       h2.panel-title Opening hours
      .panel-body
       +outputOpeningHours(locationInfo.openingTime)
     .panel.panel-primary
      .panel-heading
       h2.panel-title Facilities
      .panel-body
       p 
        each facility in locationInfo.facilities
         span.label.label-warning
          span.glyphicon.glyphicon-ok
          |&nbsp;
          span= facility
         |&nbsp;
    .col-xs-12.col-sm-6.location-map
     .panel.panel-primary
      .panel-heading
       h2.panel-title Location map
      .panel-body
       iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2486.1696815366713!2d-0.9712770847271033!3d51.45504097962645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTHCsDI3JzE4LjEiTiAwwrA1OCcwOC43Ilc!5e0!3m2!1svi!2s!4v1499740225663" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen)
   .row
    .col-xs-12
     .panel.panel-primary.review-panel
      .panel-heading
       a.btn.btn-default.pull-right(href='/') Add review
       h2.panel-title Customer reviews
      .panel-body.review.container
       each review in locationInfo.reviews
        .row
         .review
          .well.well-sm.review-header
           span.rating
            +outputRating(review.rating)
           |&nbsp;
           span.reviewAuthor= review.author
           |&nbsp;
           small.reviewTimestamp
            +formatDate(review.createdOn)
          .col-xs-12
           p= review.reviewText
  .col-xs-12.col-md-3
   p.lead simon's Cafe is on Loc8r because it has accessible wifi and space to sit down with your laptop and get some work done.
           

