mixin outputRating(rating)
 - for (var i=1; i<=rating; i++)
   span.glyphicon.glyphicon-star
 - for (var i=rating; i<5; i++)
   span.glyphicon.glyphicon-star-empty

mixin outputOpeningHours(openingTime)
 each time in openingTime
  span= time.days
   |&nbsp; : &nbsp;
  - if(time.closed == true)
    closed
  - if(time.closed == false)
    span= time.opening
    |&nbsp;
    span= time.closing

mixin formatDate(dateString)
 - var date = new Date(dateString);
 - var monthNames = ['January','February','Match','April','May','June','July','August','September','October','November','December'];
 - var d = date.getDate();
 - var m = monthNames[date.getMonth()];
 - var y = date.getFullYear();
 - var output = d +' '+ m +' '+ y;
 =output